h1, h2, h3, p, a, li{
	font-family: Roboto, sans-serif;
	color: #373867;
}
h1{
	margin-top: 30px;
	margin-right: 30%;
	font-size: 40px;
	font-weight: bold;
}
h2{
	padding-top: 10px;
	margin-right: 30;
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: #f33413;
}
h3{
	font-size: 20px;
}
p{
	font-size: 14px;
}
a{
	margin-top: 30px;
	text-decoration: none;
	color: #373867;font-size: 14px;
}
li{
	font-size: 14px;
}
a:hover{
	color: #FF3E1D;
} 
.content{
	width: 95%;
	margin-left: 300px;
	float: right;
}
main{
	float: right;
	width: 83%;
	margin-left: 200px;
}
#header{
	width: 95%;
	padding-top: 25px;
	border-bottom: solid 1px red;
}
#credits-page{
	top: 0px;
	left: 300px;
}
#credits-page img{
	float: left;
	padding-right: 10px;
}
#trackgenix-networks ul{
	display: block;
	position: absolute;
	width:30;
	padding-top: 25+px;
	top: 5px; right: 50px;
}
#trackgenix-facebook{
	display: inline-block;
	top: 5px; right: 210px;
}
#trackgenix-linkedin{
	display: inline-block;
	top: 5px; right: 170px;
}
#trackgenix-twitter{
	display: inline-block;
	top: 5px; right: 130px;
}
#trackgenix-github{
	display: inline-block;
	top: 5px; right: 90px;
}
#trackgenix-instagram{
	display: inline-block;
	top: 5px; right: 50px;
}
h1{
	padding-bottom: 15px;
	width: 60%;
}
#banner{
	border-bottom: solid 1px black;
	width: 95%;
	margin-bottom: 30px;
	text-decoration: none;
}
.banner-text{
	display: inline-block;
	width: 60%;
	float: left;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 40px;
}
.banner-text h2{
	margin-bottom: 10px;
	text-decoration: none;
}
p{
	padding-top: 10px;
}
#button-header{
	margin-top: 10px;
	color: red;
	border-radius: 4px;
	border: solid 1px red;
	background-color: white;
}
.banner-image-trackgenix{
	display: inline-block;
	width: 35%;
	padding-top: 15px;
	padding-bottom: 15px;
}
#why-productivity-booster{
	width: 95%;
	border-bottom: solid 1px black;
}
article{
	display: inline-block;
	width: 48%;
	margin-top: 15px;
	margin-bottom: 15px;
}
span{
	float: left;
	margin-right: 10px;
}
#trackgenix-features{
	width: 95%;
	margin-right: 50px;
	padding-bottom: 40px;
	border-bottom: solid 1px black;
}
.hours-log, .reports, .resource-management, .multiple-roles{
	display: inline-block;
	width: 40%;
	padding: 10px;
	margin-left: 50px;
}
#trackgenix-info{
	width: 95%;
	border-bottom: solid 1px black;
}
form{
	font-family: Roboto, sans-serif;
	color:  #373867;
	font-size: 12px;
	font-weight: bold;
}
input{
	width: 350px;
}
label{
	margin: 8px;
	width: 350px;
	margin-top: 8px;
	margin-bottom: 20px;
}
label, input{
	display: inline-block;
	width: 50%;
}
form input, form textarea{
	display: block;  
	width: 60%;
	padding-left: 15px;
}
.data-form{
	float:left;
	width: 50%;
}
.data-form, .contact-area{
	display: inline-block;
}
.data-form-1, .data-form-2{
	display: block;
}
.data-form-1{
	margin-bottom: 5px;
}
.contact-area{
	width: 40%;
	float: left;
}
.options,.contact-title{
	display:block;
	width: 18%;
	margin-top: 5px;
	margin-left: 0px;
}
.subtitle{
	float: right;
}
.subtitle, .radio{
	display: inline-block;
	margin: 0.5px;
}
textarea{
	width: 95%;
	height: 150px;
	padding-bottom: 5px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px solid #ccc;
	background-color: #f8f8f8;
	resize: none;
}
button{
	font-size: 15px;
}
#reset-button{
	display: inline-block;
	padding: 10px 25px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-decoration: none;
	font-size: 15px;
	background-color: #f33413;
	border-radius: 8px;
	border: solid 1px black;
	color: black;
}
#send-button{
	display: inline-block;
	padding: 10px 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-decoration: none;
	font-size: 15px;
	background-color: #a6d098;
	border-radius: 8px;
	border: solid 1px black;
	color: black;
}
#trackgenix-history{
	width: 95%;
	border-bottom: solid 1px black;
}
#trackgenix-history h3{
	padding-top: 20px;
	padding-bottom: 20px;
}
#trackgenix-history, .the-foundation-image{
	float: left;
	margin: 15px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.something-else-image{
	float: right;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 50px;
}
#services{
	display: block;
	width: 95%;
	border-bottom: solid 1px black;
}
#services h2{
	margin-bottom: 10px;
	text-decoration: none;
}
ol{
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
	list-style:decimal;
}
#productos{
	display: inline-block;
	width: 30%;
	margin-left: 90px;
}
#negocios{
	display: inline-block;
	width: 30%;
}
#soporte{
	display: inline-block;
	width: 30%;
}
footer{
	width: 95%;
	margin-left: 0px;
}
#trackgenix-networks-footer{
	padding-left: 650px;
	padding-top: 20px;
}
footer, #trackgenix-networks-footer, .trackgenix-networks-footer{
	display: inline-block;
}
.copyright{
	padding-left: 550px;
}
aside{
	width: 15%;
	float: left;
	position: fixed;
	height: 100%;
	padding-left: 25px;
	padding-right: 25px;
	font-family: Roboto, sans-serif;
	color: #373867;
	font-size: 14;
	background-color: #a6d098;
}
.menu h3{
	padding-top: 20px;
	font-size: 30px;
	text-decoration: underline;
	text-decoration-color: #f33413;
}
*.menu ul{
	padding-top: 30px;
	padding-left: 0px;
	text-decoration: none;
}
.menu li{
	border-bottom: solid 1px #373867;
	padding-bottom: 30px;
}
.menu li:nth-child(2), .menu li:last-child{
	padding-top: 20px;
}
.menu li:last-child{
	padding-bottom: 60px;
}
.menu-information h3{
	margin-bottom: 30px;
	padding-top: 40px;
	font-size: 30px;
	text-decoration: underline;
	text-decoration-color: #f33413;
}
.menu-information ul{
	margin-top: 40px;
	list-style: none;
}
.menu-information li{
	margin-left: 20px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: solid 1px #373867;
}
.menu-information li:first-child{
	list-style-image: url(/Semana-02/assets/mail-contact-trackgenix.svg);
}
.menu-information li:nth-child(2){
	list-style-image: url(/Semana-02/assets/adress-contact-trackgenix.svg);
}
.menu-information li:last-child{
	list-style-image: url(/Semana-02/assets/phone-contact-trackgenix.svg);
}